@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.abs-centering {
  @apply absolute m-auto  right-0 top-0 bottom-0;
}

.menu-item {
  @apply flex ml-5 my-2 hover:border w-3/12  p-1 rounded-md hover:w-8/12 duration-200 cursor-pointer hover:transition-all;
}

.transparente {
  background-color: rgba(0, 0, 0, 0.4);
}

.transparente-light {
  background-color: rgba(0, 0, 0, 0.3);
}

.fadein {
  opacity: 1;
  transition: opacity 0.4s linear;
}

.fadeout {
  opacity: 0;
  transition: opacity 0.4s linear;
}

.abs-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  /* @apply absolute left-0 right-0 h-24; */
}

.lock {
  margin-left: -25%;
  transition: all 0.4s linear;
}

.unlock {
  left: 0;
  width: 25%;
  transition: all 0.4s linear;
}

@keyframes anim {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 50px;
  }
  50% {
    top: 50px;
    left: 50px;
  }
  75% {
    top: 50px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
.mine-anim {
  animation-name: anim;
  animation-duration: 3s;
  /* animation-iteration-count: infinite; */
}

.teste {
  animation-name: anima;
  /* animation-iteration-count: infinite; */
  animation-duration: 0.3s;
}

@keyframes anima {
  0% {
    @apply justify-self-center;
  }
  50% {
    @apply justify-self-start;
  }
  100% {
    @apply justify-self-center;
  }
}
